    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">confirm</h3>
        </div>
        <div class="modal-body">
            {{msg}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <body ng-controller="mainCtrl" nv-file-drop="" uploader="uploader">
        <div id="wrapper" class="{{isRight && 'storage-wrapper' || ''}}">
            <div id="alert-section">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" id="inverse-toggle" ng-click="collapse.nav = !collapse.nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">ANoMoPi</a>
                    <button ng-show="currentPage===1" type="button" class="navbar-toggle" ng-click="collapse.storage = !collapse.storage">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button ng-show="currentPage===2" type="button" class="navbar-toggle" ng-click="collapse.password = !collapse.password">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button ng-show="currentPage===3" type="button" class="navbar-toggle" ng-click="collapse.stock = !collapse.stock">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown" dropdown="">
                        <a href="#" class="dropdown-toggle" dropdown-toggle="">
                            <i class="fa fa-user"></i>{{id}}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" id="profile-section">
                            <li>
                                <a href="/UserInfo">
                                    <i class="fa fa-fw fa-user"></i>Profile
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" ng-click="doLogout()">
                                    <i class="fa fa-fw fa-power-off"></i>Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-collapse">
                    <div collapse="collapse.nav">
                        <ul class="nav navbar-nav side-nav">
                            <li ng-repeat="item in navList" class="{{(currentPage===$index) && 'active' || ''}}">
                                <a href="{{item.hash}}">
                                    <i class="{{item.css}}"></i>{{item.title}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id="page-wrapper">
                <section ng-view>
                </section>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group" id="widget-section">
                    <button type="button" ng-show="isLogin" class="btn btn-info" ng-click="toggleWidget('uploader')" tooltip="點選或拖曳檔案上傳" tooltip-trigger="mouseenter" tooltip-placement="right">
                        Uploader<span class="badge">{{uploader.progress}}%</span>
                    </button>
                    <button type="button" ng-show="feedback.run" class="btn btn-default" ng-click="toggleWidget('feedback')" tooltip="點選儲存檔案TAG" tooltip-trigger="mouseenter" tooltip-placement="right">
                        Feedback<span class="badge">{{feedback.queue.length+1}}</span>
                    </button>
                    <button type="button" ng-show="image.list.length" class="btn btn-warning" ng-click="mediaToggle('image')">
                        Image<span class="badge">{{image.end && ' ' || '>'}}{{image.list.length}}</span>
                    </button>
                    <button type="button" ng-show="video.list.length" class="btn btn-success" ng-click="mediaToggle('video')">
                        Video<span class="badge">{{video.end && ' ' || '>'}}{{video.list.length}}</span>
                    </button>
                    <button type="button" ng-show="music.list.length" class="btn btn-primary" ng-click="mediaToggle('music')">
                        Music<span class="badge">{{music.end && ' ' || '>'}}{{music.list.length}}</span>
                    </button>
                    <button type="button" ng-show="doc.list.length" class="btn btn-danger" ng-click="mediaToggle('doc')">
                        Doc<span class="badge">{{doc.end && ' ' || '>'}}{{doc.list.length}}</span>
                    </button>
                    <button type="button" ng-show="present.list.length" class="btn btn-info" ng-click="mediaToggle('present')">
                        Present<span class="badge">{{present.end && ' ' || '>'}}{{present.list.length}}</span>
                    </button>
                    <button type="button" ng-show="torrent.list.length" class="btn btn-danger" ng-click="mediaToggle('torrent')">
                        Playlist<span class="badge">{{torrent.end && ' ' || '>'}}{{torrent.list.length}}</span>
                    </button>
                </div>
                <sectio id="left-bottom-section">
                    <section class="panel panel-info" id="uploader-section" ng-show="widget.uploader&&isLogin">
                        <div class="panel-heading" ng-click="toggleWidget('uploader')">
                            <h4 class="panel-title">
                                Uploader<i class="pull-right glyphicon glyphicon-remove"></i>
                            </h4>
                        </div>
                        <form ng-submit="urlSave()">
                            <div class="input-group">
                                <span ng-show="level>0" class="input-group-addon" tooltip="18+"  tooltip-trigger="mouseenter">
                                    <input type="checkbox" ng-model="adultonly"/>
                                </span>
                                <input type="text" class="form-control" ng-model="inputUrl" placeholder="URL upload or bookmark" />
                                <span class="input-group-btn" tooltip="儲存書籤"  tooltip-trigger="mouseenter">
                                    <button class="btn btn-default" type="submit" ng-disabled="disableUrlSave">
                                        <i class="glyphicon glyphicon-star-empty"></i>
                                    </button>
                                </span>
                                <span class="input-group-btn" tooltip="上傳檔案(beta)"  tooltip-trigger="mouseenter">
                                    <button type="button" class="btn btn-default" ng-click="urlUpload()">
                                        <i class="glyphicon glyphicon-upload"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                        <div class="uploader-word" ng-repeat="item in uploader.queue">
                            {{item.file.name}}<span class="badge">{{ item.progress }}%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="uploader.progress" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploader.progress }}%;">
                                {{ uploader.progress }}% Complete
                            </div>
                        </div>
                        <div class="btn-group" role="group" aria-label="upload btn">
                            <div class="btn btn-primary btn-file btn-s">
                                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;Choose
                                <input type="file" nv-file-select uploader="uploader" />
                            </div>
                            <button class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" disabled="disabled">
                                <span class="glyphicon glyphicon-upload"></span>Upload all
                            </button>
                            <button class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" disabled="disabled">
                                <span class="glyphicon glyphicon-trash"></span>Remove all
                            </button>
                        </div>
                    </section>
                    <section class="panel panel-default feedback-list" id="feedback-section" ng-show="widget.feedback && feedback.run">
                        <div class="panel-heading" ng-click="toggleWidget('feedback')">
                            <h4 class="panel-title">
                                {{feedback.name}}<i class="pull-right glyphicon glyphicon-remove"></i>
                            </h4>
                        </div>
                        <div class="dropdown" dropdown="" is-open="dropdown.feedback">
                            <ul class="dropdown-menu" id="dir-list">
                                <li ng-repeat="item in dirList">
                                    <a ng-confirm-click="Would you sure to add" ng-sub-msg="to {{item.show}}?" confirmed-click="feedbackAdd2Parent(item.name)">{{item.show}}</a>
                                </li>
                            </ul>
                        </div>
                        <div id="feedback-inner-section" class="panel-body">
                            <div class="input-group" ng-repeat="item in feedback.list">
                                <span class="input-group-addon">
                                    <input type="checkbox" ng-model="item.select" />
                                </span>
                                <span class="form-control feedback-tag {{(item.history) && 'list-group-item-danger' || ''}}">{{item.tag}}</span>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="selectFeedbackTag($event, item.tag)" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group" ng-repeat="item in feedback.other">
                                <span class="input-group-addon">
                                    <input type="checkbox" checked ng-disabled="true">
                                </span>
                                <span class="form-control feedback-tag {{(item.history) && 'list-group-item-danger' || ''}}">{{item}}</span>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="selectFeedbackTag($event, item)" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <form ng-submit="addFeedback()">
                            <div class="input-group">
                                <span class="input-group-btn" tooltip="儲存tag" tooltip-trigger="mouseenter">
                                    <button type="button" class="btn btn-default" ng-click="sendFeedback()" ng-disabled="feedbackDisabled">
                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" placeholder="New tag..." ng-model="feedbackInput" blur-me="feedbackBlur" />
                                <span class="input-group-btn" tooltip="增加tag" tooltip-trigger="mouseenter">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </span>
                                <span class="input-group-btn" tooltip="之後整理" tooltip-trigger="mouseenter">
                                    <button class="btn btn-default" type="button" ng-click="delayFeedback()">
                                        <i class="glyphicon glyphicon-repeat"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </section>
                </section>
                <section id="{{isFull && 'full-section'||'center-section'}}">
                    <section class="panel panel-warning {{(!isVisible&&isFull) && 'invisible-section' || ''}} {{isFull && 'panel-transparent' || ''}}" ng-show="mediaShow[0] === 'image'">
                        <a href="#" id="transparent" class="{{(!isVisible&&isFull) && 'visible-section' || 'invisible-section'}} text-center" ng-click="prevImage()">
                            {{image.showId}}
                        </a>
                        <a href="#" id="transparent-right" class="{{(!isVisible&&isFull) && 'visible-section' || 'invisible-section'}} text-center" ng-click="isVisible = !isVisible">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <div class="panel-heading" ng-click="mediaToggle('image')">
                            <h4 class="panel-title">
                                {{(image.index) >= 0 && (image.index+1) || image.index}} : {{image.name}}<i class="pull-right glyphicon glyphicon-remove"></i>
                            </h4>
                        </div>
                        <div class="panel-body media-trim">
                            <nav id="{{(isExtend&&isFull) && 'extend-nav' || ''}}">
                                <ul class="pager nav-trim {{isFull && 'pull-left'||'pull-right'}}">
                                    <span ng-show="image.maxId && image.maxId > 1">
                                        <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                            <a href="#" ng-click="imgMove(-1)">
                                                <span class="glyphicon glyphicon-chevron-up"></span>
                                            </a>
                                        </li>
                                        <input id="imageID" type="text" ng-model="image.showId" ng-enter="imgMove(0)" />/{{image.maxId}}
                                        <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                            <a href="#" ng-click="imgMove(1)">
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                            </a>
                                        </li>
                                    </span>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="mediaMove(-1, 'image')">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="#" class='media-hide' ng-click="isFull = !isFull">
                                            <span class="glyphicon {{isFull && 'glyphicon-minus-sign'||'glyphicon-plus-sign'}}"></span>
                                        </a>
                                    </li>
                                    <li id="{{!isFull && 'extend-hide'}}">
                                        <a href="#" ng-click="isExtend = !isExtend">
                                            <span class="glyphicon {{isExtend && 'glyphicon-resize-small'||'glyphicon-resize-full'}}"></span>
                                        </a>
                                    </li>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="mediaMove(1, 'image')">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div ng-click="isVisible=false" id="non-blue">
                                <div id="{{(isExtend&&isFull) && 'extend-image-screen' || ''}}">
                                    <img class="{{isFull && 'full-image-screen'||'image-screen'}}" ng-src="{{image.src | trusted}}" alt="{{image.name}}" ng-click="nextImage()" ng-image-onload />
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="panel panel-success" ng-show="mediaShow[0] === 'video'">
                        <div class="panel-heading" ng-click="mediaToggle('video')">
                            <h4 class="panel-title">
                                {{(video.index) >= 0 && (video.index+1) || video.index}} : {{video.name}}<i class="pull-right glyphicon glyphicon-remove"></i>
                            </h4>
                        </div>
                        <div class="panel-body media-trim">
                            <nav>
                                <ul class="pager nav-trim {{isFull && 'pull-left'||'pull-right'}}">
                                    <li>{{curVideoSub}}</li>
                                    <span ng-show="video.playlist">
                                        <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                            <a href="#" ng-click="videoMove('video', 'previous')">
                                                <span class="glyphicon glyphicon-chevron-up"></span>
                                            </a>
                                        </li>
                                        <input id="videoID" type="text" readonly ng-model="video.playlist.obj.index" />/{{video.playlist.total}}
                                        <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                            <a href="#" ng-click="videoMove('video')">
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                            </a>
                                        </li>
                                    </span>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="mediaMove(-1, 'video')">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class='media-hide' ng-click="isFull = !isFull">
                                            <span class="glyphicon {{isFull && 'glyphicon-minus-sign'||'glyphicon-plus-sign'}}"></span>
                                        </a>
                                    </li>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="mediaMove(1, 'video')">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <select ng-model="video.option">
                                            <option value="0">字幕</option>
                                            <option value="1">search</option>
                                            <option value="2">upload</option>
                                            <option ng-show="video.list[video.index].thumb" value="3">origin</option>
                                        </select>
                                    </li>
                                </ul>
                            </nav>
                            <video class="{{isFull && 'full-media-screen'||'media-screen'}}" ng-src="{{video.src | trusted}}" controls autoplay ng-video ng-ended="nextVideo('video')" ng-play="testLogin()" ng-pause="mediaRecord('video')" ng-click="videoToggle()" tabindex=1 id="video-tag">
                                <track label="English" kind="captions" srclang="en" ng-src="{{video.sub | trusted}}" default="" />
                            </video>
                            <div class="{{isFull && 'full-youtube-screen'||'media-screen'}}" ng-hide="video.src">
                                <div id="youtube-player"></div>
                            </div>
                        </div>
                    </section>
                    <section class="panel panel-primary" ng-show="mediaShow[0] === 'music'">
                        <div class="panel-heading" ng-click="mediaToggle('music')">
                            <h4 class="panel-title">
                                {{(music.index) >= 0 && (music.index+1) || music.index}} : {{music.name}}<i class="pull-right glyphicon glyphicon-remove"></i>
                            </h4>
                        </div>
                        <div class="panel-body media-trim">
                            <nav>
                                <ul class="pager nav-trim {{isFull && 'pull-left'||'pull-right'}}">
                                    <span ng-show="music.playlist">
                                        <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                            <a href="#" ng-click="videoMove('music', 'previous')">
                                                <span class="glyphicon glyphicon-chevron-up"></span>
                                            </a>
                                        </li>
                                        <input id="musicID" type="text" readonly ng-model="music.playlist.obj.index" />/{{music.playlist.total}}
                                        <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                            <a href="#" ng-click="videoMove('music')">
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                            </a>
                                        </li>
                                    </span>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="mediaMove(-1, 'music')">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class='media-hide' ng-click="isFull = !isFull">
                                            <span class="glyphicon {{isFull && 'glyphicon-minus-sign'||'glyphicon-plus-sign'}}"></span>
                                        </a>
                                    </li>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="mediaMove(1, 'music')">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="pager nav-trim {{isFull && 'pull-right'||'pull-left'}}">
                                    <li tooltip="Shuffle play"  tooltip-trigger="mouseenter">
                                        <input type="checkbox" ng-model="music.shuffle"/>
                                    </li>
                                </ul>
                            </nav>
                            <audio class="media-screen" ng-src="{{music.src | trusted}}" controls autoplay ng-music ng-ended="nextVideo('music')" ng-play="testLogin()" ng-pause="mediaRecord('music')" id="music-tag">
                            </audio>
                        </div>
                    </section>
                </section>
                <section id="{{isFull && 'full-doc-section'||'doc-section'}}">
                    <section class="panel panel-danger" ng-show="mediaShow[0] === 'doc'">
                        <div class="panel-heading" ng-click="mediaToggle('doc')">
                            <h4 class="panel-title">
                                {{(doc.index) >= 0 && (doc.index+1) || doc.index}} : {{doc.name}}<i class="pull-right glyphicon glyphicon-remove"></i>
                            </h4>
                        </div>
                        <div class="panel-body media-trim">
                            <nav>
                                <ul class="pager nav-trim {{isFull && 'pull-left'||'pull-right'}}">
                                    <span ng-show="isPdf" tooltip="切換模式"  tooltip-trigger="mouseenter">
                                        <input type="checkbox" ng-model="doc.mode"/>
                                    </span>
                                    <span ng-show="doc.maxId && doc.maxId > 1">
                                        <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                            <a href="#" ng-click="docMove(-1)">
                                                <span class="glyphicon glyphicon-chevron-up"></span>
                                            </a>
                                        </li>
                                        <input id="docID" type="text" ng-model="doc.showId" ng-enter="docMove(0)" />/{{doc.maxId}}
                                        <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                            <a href="#" ng-click="docMove(1)">
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                            </a>
                                        </li>
                                    </span>
                                    <span ng-hide="doc.maxId">
                                        處理中...<i class="fa fa-refresh fa-spin"></i>
                                    </span>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="mediaMove(-1, 'doc')">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class='media-hide' ng-click="isFull = !isFull">
                                            <span class="glyphicon {{isFull && 'glyphicon-minus-sign'||'glyphicon-plus-sign'}}"></span>
                                        </a>
                                    </li>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="mediaMove(1, 'doc')">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <iframe ng-iframe-bigpic class="doc-screen" ng-src="{{doc.src | trusted}}" style="border: 0;"></iframe>
                        </div>
                    </section>
                    <section class="panel panel-info" ng-show="mediaShow[0] === 'present'">
                        <div class="panel-heading" ng-click="mediaToggle('present')">
                            <h4 class="panel-title">
                                {{(present.index) >= 0 && (present.index+1) || present.index}} : {{present.name}}<i class="pull-right glyphicon glyphicon-remove"></i>
                            </h4>
                        </div>
                        <div class="panel-body media-trim">
                            <nav>
                                <ul class="pager nav-trim {{isFull && 'pull-left'||'pull-right'}}">
                                    <span ng-show="present.maxId && present.maxId > 1">
                                        <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                            <a href="#" ng-click="presentMove(-1)">
                                                <span class="glyphicon glyphicon-chevron-up"></span>
                                            </a>
                                        </li>
                                        <input id="presentID" type="text" ng-model="present.showId" ng-enter="presentMove(0)" />/{{present.maxId}}
                                        <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                            <a href="#" ng-click="presentMove(1)">
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                            </a>
                                        </li>
                                    </span>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="mediaMove(-1, 'present')">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class='media-hide' ng-click="isFull = !isFull">
                                            <span class="glyphicon {{isFull && 'glyphicon-minus-sign'||'glyphicon-plus-sign'}}"></span>
                                        </a>
                                    </li>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="mediaMove(1, 'present')">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <iframe class="doc-screen" ng-src="{{present.src | trusted}}" style="border: 0;"></iframe>
                        </div>
                    </section>
                    <section class="panel panel-danger" ng-show="mediaShow[0] === 'torrent'">
                        <div class="panel-heading" ng-click="mediaToggle('torrent')">
                            <h4 class="panel-title">
                                {{(torrent.index+1)}} : {{torrent.name}}<i class="pull-right glyphicon glyphicon-remove"></i>
                            </h4>
                        </div>
                        <div class="panel-body media-trim">
                            <nav>
                                <ul class="pager nav-trim {{isFull && 'pull-left'||'pull-right'}}">
                                    <li>{{curTorrentSub}}</li>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="torrentMove(-1)">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                    </li>
                                    <li ng-hide="torrent.complete">
                                        <a href="#" ng-click="torrentCheck(false, false)">
                                            <span class="glyphicon glyphicon-refresh"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class='media-hide' ng-click="isFull = !isFull">
                                            <span class="glyphicon {{isFull && 'glyphicon-minus-sign'||'glyphicon-plus-sign'}}"></span>
                                        </a>
                                    </li>
                                    <li class="{{mediaMoreDisabled && 'disabled' || ' '}}">
                                        <a href="#" ng-click="torrentMove(1)">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <select ng-model="torrent.option">
                                            <option value="0">字幕</option>
                                            <option value="1">search</option>
                                            <option value="2">upload</option>
                                        </select>
                                    </li>
                                </ul>
                            </nav>
                            <video ng-show="torrent.src" class="{{isFull && 'full-media-screen'||'media-screen'}}" ng-src="{{torrent.src | trusted}}" controls autoplay ng-torrent ng-ended="torrentMove(1, true)" ng-play="testLogin()" ng-pause="mediaRecord('torrent')" ng-click="torrentToggle()" tabindex=1 id="torrent-tag">
                                <track label="English" kind="captions" srclang="en" ng-src="{{torrent.sub | trusted}}" default="" />
                            </video>
                        </div>
                    </section>
                </section>
                <section id="block-section" ng-show="pwBlock">
                    <form ng-submit="sendPW()">
                        <div class="input-group" id="pw-check">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button" ng-click="closeBlockPW(false)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                            <input type="password" class="form-control" ng-model="userPW" focus-me="userPWFocus" placeholder="Password" ng-enter="sendPW()" />
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="submit">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </section>
            </section>
        </div>
    </body>
</html>