<div class="modal-content" id="login-section">
    <div class="modal-header">
        <h1 class="text-center">Login</h1>
    </div>
    <div class="modal-body" ng-submit="doLogin()">
        <form class="form col-md-12 center-block">
            <div class="form-group">
                <input type="text" ng-model="username" class="form-control input-lg" focus-me="loginFocus.user" ng-enter="loginFocus.pwd=true" placeholder="Username" />
            </div>
            <div class="form-group">
                <input type="password" ng-model="password" class="form-control input-lg" focus-me="loginFocus.pwd" placeholder="Password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</div>