<span id="initial" ng-init="init()"></span>
<div class="modal-content" id="password-section" ng-show="details">
    <div class="modal-body panel panel-danger">
        <div class="panel-heading" ng-click="details = false">
            <h3 class="panel-title">Password Details<i class="pull-right glyphicon glyphicon-remove"></i></h3>
        </div>
        <form ng-submit="sendForm()">
            <div class="panel-body">
                    <button class="btn btn-success" type="submit">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                    <button ng-hide="isNew" class="btn btn-warning" type="button" ng-click="editTrigger()">
                        <i class="glyphicon {{edit && 'glyphicon-check' || 'glyphicon-edit'}}"></i>
                    </button>
                    <button ng-hide="isNew" class="btn btn-danger" type="button" confirmed-click="preDelPassword(detailsId)" ng-confirm-click="Would you sure to delete this password row?">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
            </div>
            <div class="panel-footer">
                <div class="hidden-md hidden-lg">
                    <strong>
                        <span ng-hide="edit">
                            {{userName}}
                        </span>
                        <span ng-show="edit">
                            <input class="form-control" type="text" value="{{userName}}" focus-me="userNameFocus" ng-model="userName" ng-enter="userUsernameFocus = true" placeholder="Name" />
                        </span>
                    </strong>
                    <br>
                    <dl>
                        <dt>Username:</dt>
                        <dd ng-hide="edit">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="copyUsernameFocus=true">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </span>
                                <input select-on-click type="text" readonly class="form-control" value="{{userUsername}}" focus-me="copyUsernameFocus" placeholder="Username" />
                            </div>
                        </dd>
                        <dd ng-show="edit">
                            <input type="text" class="form-control" value="{{userUsername}}" ng-model="userUsername" focus-me="userUsernameFocus" ng-enter="newPasswordFocus = true" placeholder="Username" />
                        </dd>
                        <dt>Password:</dt>
                        <dd ng-hide="edit">
                            <div class="input-group">
                                <span class="input-group-btn" ng-hide="openPassword&&!showUserPassword">
                                    <button class="btn btn-primary" type="button" ng-click="preGetPassword('copy')">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </span>
                                <span class="input-group-btn" ng-show="openPassword">
                                    <button class="btn btn-primary" type="button" ng-click="preGetPassword('close')">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </span>
                                <span class="input-group-btn" ng-hide="openPassword&&showUserPassword">
                                    <button class="btn btn-primary" type="button" ng-click="preGetPassword('open')">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </button>
                                </span>
                                <input ng-show="openPassword" id="user-password" select-on-click type="text" readonly class="form-control" value="{{!showUserPassword && 'Copy Here' || userPassword}}" focus-me="copyPasswordFocus" placeholder="Password" />
                                <input ng-hide="openPassword" type="password" readonly class="form-control" value="hhhhhhhhhhhh" />
                            </div>
                        </dd>
                        <dd ng-show="edit">
                            <div class="input-group">
                                <input type="password" class="form-control" ng-model="newPassword" focus-me="newPasswordFocus" ng-enter="genPasswordFocus = true" placeholder="2~30個英數、!、@、#、$、%" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" tooltip="產生密碼" focus-me="genPasswordFocus" tooltip-trigger="mouseenter" tooltip-placement="left" ng-click="generatePW()" ng-enter="userConPasswordFocus = true">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </button>
                                </span>
                            </div>
                        </dd>
                        <dt ng-show="edit">Confirm Password:</dt>
                        <dd ng-show="edit">
                            <input type="password" class="form-control" value="{{userConPassword}}" ng-model="userConPassword" focus-me="userConPasswordFocus" ng-enter="userUrlFocus = true" placeholder="Confirm Password" />
                        </dd>
                        <dt ng-hide="edit">Previous Password:</dt>
                        <dd ng-hide="edit">
                            <div class="input-group">
                                <span class="input-group-btn" ng-hide="openPrePassword&&!showUserPrePassword">
                                    <button class="btn btn-primary" type="button" ng-click="preGetPassword('copy', true)">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </span>
                                <span class="input-group-btn" ng-show="openPrePassword">
                                    <button class="btn btn-primary" type="button" ng-click="preGetPassword('close', true)">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </span>
                                <span class="input-group-btn" ng-hide="openPrePassword&&showUserPrePassword">
                                    <button class="btn btn-primary" type="button" ng-click="preGetPassword('open', true)">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </button>
                                </span>
                                <input ng-show="openPrePassword" id="user-pre-password" select-on-click type="text" readonly class="form-control" value="{{!showUserPrePassword && 'Copy Here' || userPrePassword}}" focus-me="copyPrePasswordFocus" placeholder="Password" />
                                <input ng-hide="openPrePassword" type="password" readonly class="form-control" value="hhhhhhhhhhhh" />
                            </div>
                        </dd>
                        <dt>Important:</dt>
                        <dd ng-hide="edit">
                            {{userImportant && 'Yes' || 'No'}}
                        </dd>
                        <dd ng-show="edit">
                            <input type="checkbox" class="form-control" ng-model="userImportant" />
                        </dd>
                        <dt>Url:</dt>
                        <dd ng-hide="edit">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="copyUrlFocus=true">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </span>
                                <span class="input-group-btn" ng-show="userUrl">
                                    <button class="btn btn-primary" type="button" ng-click="gotoUrl()">
                                        <i class="glyphicon glyphicon-share-alt"></i>
                                    </button>
                                </span>
                                <input select-on-click type="text" readonly class="form-control" value="{{userUrl}}" focus-me="copyUrlFocus" placeholder="Url (Option)" />
                            </div>
                        </dd>
                        <dd ng-show="edit">
                            <input type="text" class="form-control" ng-model="userUrl" focus-me="userUrlFocus" placeholder="Url (Option)" ng-enter="userEmailFocus = true" />
                        </dd>
                        <dt>Email:</dt>
                        <dd ng-hide="edit">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="copyEmailFocus=true">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </span>
                                <span class="input-group-btn" ng-show="userEmail">
                                    <button class="btn btn-primary" type="button" ng-click="gotoEmail()">
                                        <i class="glyphicon glyphicon-share-alt"></i>
                                    </button>
                                </span>
                                <input select-on-click type="text" readonly class="form-control" value="{{userEmail}}" focus-me="copyEmailFocus" placeholder="Email (Option)" />
                            </div>
                        </dd>
                        <dd ng-show="edit">
                            <input type="text" class="form-control" ng-model="userEmail" focus-me="userEmailFocus" placeholder="Email (Option)" ng-enter="sendForm()" />
                        </dd>
                    </dl>
                </div>
                <div class="hidden-xs hidden-sm">
                    <strong>
                        <span ng-hide="edit">
                            {{userName}}
                        </span>
                        <span ng-show="edit">
                            <input class="form-control" type="text" value="{{userName}}" focus-me="userNameFocus" ng-model="userName" ng-enter="userUsernameFocus = true" placeholder="Name" />
                        </span>
                    </strong>
                    <br>
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Username:</td>
                                <td ng-hide="edit">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" ng-click="copyUsernameFocus=true">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                        </span>
                                        <input select-on-click type="text" readonly class="form-control" value="{{userUsername}}" focus-me="copyUsernameFocus" placeholder="Username" />
                                    </div>
                                </td>
                                <td ng-show="edit">
                                    <input type="text" class="form-control" value="{{userUsername}}" ng-model="userUsername" placeholder="Username" focus-me="userUsernameFocus" ng-enter="newPasswordFocus = true" />
                                </td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td ng-hide="edit">
                                    <div class="input-group">
                                        <span class="input-group-btn" ng-hide="openPassword&&!showUserPassword">
                                            <button class="btn btn-primary" type="button" ng-click="preGetPassword('copy')">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                        </span>
                                        <span class="input-group-btn" ng-show="openPassword">
                                            <button class="btn btn-primary" type="button" ng-click="preGetPassword('close')">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </span>
                                        <span class="input-group-btn" ng-hide="openPassword&&showUserPassword">
                                            <button class="btn btn-primary" type="button" ng-click="preGetPassword('open')">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                            </button>
                                        </span>
                                        <input ng-show="openPassword" id="s-user-password" select-on-click type="text" readonly class="form-control" value="{{!showUserPassword && 'Copy Here' || userPassword}}" focus-me="copyPasswordFocus" placeholder="Password" />
                                        <input ng-hide="openPassword" type="password" readonly class="form-control" value="hhhhhhhhhhhh" />
                                    </div>
                                </td>
                                <td ng-show="edit">
                                    <div class="input-group">
                                        <input type="password" class="form-control" ng-model="newPassword" focus-me="newPasswordFocus" ng-enter="genPasswordFocus = true" placeholder="2~30個英數、!、@、#、$、%" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" tooltip="產生密碼" focus-me="genPasswordFocus" tooltip-trigger="mouseenter" tooltip-placement="left" ng-click="generatePW()" ng-enter="userConPasswordFocus = true">
                                                <i class="glyphicon glyphicon-refresh"></i>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="edit">
                                <td>Confirm Password:</td>
                                <td>
                                    <input type="password" class="form-control" value="{{userConPassword}}" ng-model="userConPassword" focus-me="userConPasswordFocus" ng-enter="userUrlFocus = true" placeholder="Confirm Password" />
                                </td>
                            </tr>
                            <tr ng-hide="edit">
                                <td>Previous Password:</td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-btn" ng-hide="openPrePassword&&!showUserPrePassword">
                                            <button class="btn btn-primary" type="button" ng-click="preGetPassword('copy', true)">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                        </span>
                                        <span class="input-group-btn" ng-show="openPrePassword">
                                            <button class="btn btn-primary" type="button" ng-click="preGetPassword('close', true)">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </span>
                                        <span class="input-group-btn" ng-hide="openPrePassword&&showUserPrePassword">
                                            <button class="btn btn-primary" type="button" ng-click="preGetPassword('open', true)">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                            </button>
                                        </span>
                                        <input ng-show="openPrePassword" id="s-user-pre-password" select-on-click type="text" readonly class="form-control" value="{{!showUserPrePassword && 'Copy Here' || userPrePassword}}" focus-me="copyPrePasswordFocus" placeholder="Password" />
                                        <input ng-hide="openPrePassword" type="password" readonly class="form-control" value="hhhhhhhhhhhh" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Important:</td>
                                <td ng-hide="edit">
                                    {{userImportant && 'Yes' || 'No'}}
                                </td>
                                <td ng-show="edit">
                                    <input type="checkbox" class="form-control" ng-model="userImportant" />
                                </td>
                            </tr>
                            <tr>
                                <td>Url:</td>
                                <td ng-hide="edit">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" ng-click="copyUrlFocus=true">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                        </span>
                                        <span class="input-group-btn" ng-show="userUrl">
                                            <button class="btn btn-primary" type="button" ng-click="gotoUrl()">
                                                <i class="glyphicon glyphicon-share-alt"></i>
                                            </button>
                                        </span>
                                        <input select-on-click type="text" readonly class="form-control" value="{{userUrl}}" focus-me="copyUrlFocus" placeholder="Url (Option)" />
                                    </div>
                                </td>
                                <td ng-show="edit">
                                    <input type="text" class="form-control" ng-model="userUrl" focus-me="userUrlFocus" placeholder="Url (Option)" ng-enter="userEmailFocus = true" />
                                </td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td ng-hide="edit">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" ng-click="copyEmailFocus=true">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                        </span>
                                        <span class="input-group-btn" ng-show="userEmail">
                                            <button class="btn btn-primary" type="button" ng-click="gotoEmail()">
                                                <i class="glyphicon glyphicon-share-alt"></i>
                                            </button>
                                        </span>
                                        <input select-on-click type="text" readonly class="form-control" value="{{userEmail}}" focus-me="copyEmailFocus" placeholder="Email (Option)" />
                                    </div>
                                </td>
                                <td ng-show="edit">
                                    <input type="text" class="form-control" ng-model="userEmail" focus-me="userEmailFocus" placeholder="Email (Option)" ng-enter="sendForm()" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<nav class="navbar-inverse" id="inverse-navbar">
    <div class="navbar-collapse">
        <div collapse="collapse.password">
            <ul class="nav navbar-nav side-nav" id="inverse-nav">
                <li class="{{isNew && 'active' || ''}}">
                    <a href="#" aria-expanded="true" ng-click="openNewrow()">
                        New Row&nbsp;<i class="glyphicon glyphicon-plus"></i>
                    </a>
                </li>
                <li class="{{!bookmarkCollapse && 'active' || ''}}" ng-show="$parent.isRight">
                    <a href="#" aria-expanded="true" ng-click="bookmarkCollapse = !bookmarkCollapse">
                        Bookmark&nbsp;<i class="glyphicon {{bookmarkCollapse && 'glyphicon-chevron-down' || 'glyphicon-chevron-up'}}"></i>
                    </a>
                    <ul class="nav nav-pills" aria-expanded="true" collapse="bookmarkCollapse">
                        <li ng-click="changeSort('bookmarkSort', 'name')">
                            <a class="nav-pills-trim" href="#">
                                name<i ng-show="bookmarkSort.name" class="{{(bookmarkSort.name === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
                            </a>
                        </li>
                        <li ng-click="changeSort('bookmarkSort', 'mtime')">
                            <a class="nav-pills-trim" href="#">
                                mtime<i ng-show="bookmarkSort.mtime" class="{{(bookmarkSort.mtime === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
                            </a>
                        </li>
                        <li class="{{bookmarkEdit && 'active' || ''}}">
                            <a class="nav-pills-trim" ng-click="bookmarkEdit = !bookmarkEdit" href="#">edit</a>
                        </li>
                    </ul>
                    <ul aria-expanded="true" collapse="bookmarkCollapse">
                        <li ng-repeat="item in bookmarkList">
                            <a ng-hide="bookmarkEdit" ng-click="getBookmarkItem(item.id)" href="#">{{item.name}}</a>
                            <a ng-show="bookmarkEdit" confirmed-click="delBookmark(item.id)" ng-confirm-click="Would you sure to delete this bookmark?" href="#">
                                <i class="glyphicon glyphicon-remove"></i>{{item.name}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-repeat="dir in passwordDirList" class="{{!dir.collapse && 'active' || ''}}" ng-show="$parent.isRight">
                    <a href="#" aria-expanded="true" ng-click="showTaglist(dir)">
                        {{dir.show}}&nbsp;<i class="glyphicon {{dir.collapse && 'glyphicon-chevron-down' || 'glyphicon-chevron-up'}}"></i>
                    </a>
                    <ul class="nav nav-pills" aria-expanded="true" collapse="dir.collapse">
                        <li ng-click="changeDirSort(dir, 'name')">
                            <a class="nav-pills-trim" href="#">
                                name<i ng-show="dir.sortName" class="{{(dir.sortName === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
                            </a>
                        </li>
                        <li ng-click="changeDirSort(dir, 'mtime')">
                            <a class="nav-pills-trim" href="#">
                                qtime<i ng-show="dir.sortMtime" class="{{(dir.sortMtime === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
                            </a>
                        </li>
                        <li ng-show="dirEdit" class="{{dir.edit && 'active' || ''}}">
                            <a class="nav-pills-trim" ng-click="dir.edit = !dir.edit" href="#">edit</a>
                        </li>
                    </ul>
                    <ul aria-expanded="true" collapse="dir.collapse">
                        <li ng-repeat="item in dir.list">
                            <a ng-hide="dir.edit" ng-click="dirItemlist(item.id)" href="#">{{item.name}}</a>
                            <a ng-show="dir.edit" confirmed-click="del2Parent(item.id, dir)" ng-confirm-click="Would you sure to delete this tag?" href="#">
                                <i class="glyphicon glyphicon-remove"></i>{{item.name}}
                            </a>
                        </li>
                        <li ng-show="dir.more">
                            <a>
                                <button class="btn btn-default btn-xs" type="button" ng-click="moreDirtaglist(dir)" ng-disabled="dir.moreDisabled">More</button>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="top-section">
    <form ng-submit="submitText()">
        <div class="input-group">
            <span class="input-group-btn" tooltip="嚴格比對"  tooltip-trigger="mouseenter" tooltip-placement="right">
                <button class="btn {{!exactlyMatch && 'active btn-primary' || 'btn-default'}}" ng-click="exactlyMatch = !exactlyMatch" type="button">
                    <i class="glyphicon {{!exactlyMatch && 'glyphicon-eye-close' || 'glyphicon-eye-open'}}"></i>
                </button>
            </span>
            <input type="text" class="form-control" ng-model="inputText" placeholder="Search Tag" blur-me="searchBlur" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" tooltip="搜尋檔案" tooltip-trigger="mouseenter" tooltip-placement="left">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>
    <form ng-submit="addBookmark()" id="new-bookmark" ng-show="bookmarkNew">
        <div class="input-group" >
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="bookmarkNew = false" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </span>
            <input type="text" class="form-control" ng-model="bookmarkName" placeholder="New Bookmark" focus-me="bookmarkNewFocus" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
    </form>
    <form ng-submit="submitTag()" id="add-tag" ng-show="tagNew">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-danger" ng-click="tagNew = false" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </span>
            <input type="text" class="form-control" ng-model="newTagName" placeholder="New Tag" focus-me="tagNewFocus" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="submit">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </span>
        </div>
    </form>
    <form ng-submit="showPassword = false;upPassword=''" id="show-password" ng-show="showPassword">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-warning" ng-click="showPassword = false;upPassword=''" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </span>
            <input type="text" id="up-password" select-on-click class="form-control" readonly value="{{!showClearPassword && 'Copy Here' || upPassword}}" placeholder="New Password" focus-me="upPasswordFocus" />
            <span class="input-group-btn">
                <button class="btn btn-warning" type="button" ng-click="showClearPassword = !showClearPassword;upPasswordFocus=true">
                    <span class="glyphicon {{showClearPassword && 'glyphicon-eye-close' || 'glyphicon-eye-open'}}"></span>
                </button>
            </span>
        </div>
    </form>
    <form ng-submit="showUsername = false" id="show-username" ng-show="showUsername">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-info" ng-click="showUsername = false" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </span>
            <input type="text" select-on-click class="form-control" readonly value="{{userUsername}}" placeholder="New Username" focus-me="showUsernameFocus" />
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit" ng-click="showUsername = false">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </span>
        </div>
    </form>
    <ol class="breadcrumb" id="breadcrumb-section">
        <li>
            <input type="checkbox" ng-model="multiSearch" tooltip="多重搜尋" tooltip-trigger="mouseenter" tooltip-placement="bottom" />
        </li>
        <li ng-click="resetStorage()">
            <a tooltip="清空搜尋"  tooltip-trigger="mouseenter" href="#">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li ng-repeat="item in parentList" ng-click="gotoStorage($parent.this, item, $index)">
            <a href="#">
                <i ng-hide="exactlyList[$index]" class="glyphicon glyphicon-eye-close"></i>
                <i ng-show="exactlyList[$index]" class="glyphicon glyphicon-eye-open"></i>&nbsp;{{item}}
            </a>
        </li>
        <li class="active" ng-repeat="item in historyList" ng-click="gotoStorage($parent.this, item, $index+parentList.length)">
            <a href="#" class="history-point">
                <i ng-hide="exactlyList[$index+parentList.length]" class="glyphicon glyphicon-eye-close"></i>
                <i ng-show="exactlyList[$index+parentList.length]" class="glyphicon glyphicon-eye-open"></i>&nbsp;{{item}}
            </a>
        </li>
        <li ng-show="parentList.length > 0" class="dropdown" dropdown="">
            <span class="dropdown-toggle" dropdown-toggle="" tooltip="儲存到我的最愛" tooltip-trigger="mouseenter" tooltip-placement="bottom">
                <a href="#" class="item-point"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;SAVE</a>
            </span>
            <ul class="dropdown-menu" id="bookmark-list">
                <li>
                    <a ng-click="showPassword = false; upPassword = ''; showUsername = false;bookmarkNew = true; bookmarkNewFocus = true" href="#">new...</a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="item in bookmarkList">
                    <a ng-click="addBookmark(item.name)" href="#">{{item.name}}</a>
                </li>
            </ul>
        </li>
    </ol>
    <ul class="nav nav-pills" id="item-head" aria-expanded="true" ng-show="$parent.isRight">
        <li tooltip="全選 / 取消，點選下方的checkbox可以觀看共同TAG" tooltip-trigger="mouseenter" tooltip-placement="right" class="text-right item-check-head {{!selectList.length && 'active' || ''}}">
            <a ng-click="cancelSelect()" href="#">
                <i class="glyphicon {{selectList.length && 'glyphicon-remove-sign' || 'glyphicon-ok'}}"></i>
            </a>
        <li>
        <li>
            <a href="#" ng-click="changeSort('fileSort', 'name')">
                name
                <i ng-show="fileSort.name" class="{{(fileSort.name === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
            </a>
        </li>
        <li class="pull-right item-tool {{!selectList.length && 'active' || ''}}" tooltip="{{selectList.length && '編輯共同TAG' || '設定，點選下方的expand可以開啟功能列'}}" tooltip-trigger="mouseenter" tooltip-placement="left">
            <a ng-click="openNewTag()" href="#">
                <i class="glyphicon {{selectList.length && 'glyphicon-plus' || 'glyphicon-cog'}}"></i>
            </a>
        <li>
        <li class="pull-right item-mtime">
            <a href="#" ng-click="changeSort('fileSort', 'mtime')">
                time
                <i ng-show="fileSort.mtime" class="{{(fileSort.mtime === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
            </a>
        </li>
        <li class="pull-right item-user">
            <a href="#" ng-click="changeSort('fileSort', 'count')">
                user
                <i ng-show="fileSort.count" class="{{(fileSort.count === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
            </a>
        </li>
    </ul>
    <div class="dropdown" dropdown="" is-open="dropdown.item">
        <ul class="dropdown-menu" id="tool-list">
            <li ng-show="toolList.details">
                <a ng-click="getDetails()" href="#">Details & Edit</a>
            </li>
            <li ng-show="toolList.del">
                <a confirmed-click="preDelPassword()" ng-confirm-click="Would you sure to delete this password row?" href="#">Delete</a>
            </li>
            <li ng-show="toolList.pw">
                <a ng-click="preGetPassword('list')" href="#">Get Password</a>
            </li>
            <li ng-show="toolList.url">
                <a ng-click="gotoUrl(1)" href="#">Goto Url</a>
            </li>
            <li ng-show="toolList.email">
                <a ng-click="gotoEmail(1)" href="#">Goto Email</a>
            </li>
            <li ng-show="toolList.dir" ng-repeat="item in passwordDirList">
                <a confirmed-click="add2Parent(item)" ng-confirm-click="Would you sure to add" ng-sub-msg="to {{item.show}}?" href="#">{{item.show}}</a>
            </li>
        </ul>
    </div>
</section>
<section id="item-section" ng-show="$parent.isRight">
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr ng-repeat="item in itemList" class="{{item.id === latest && 'info' || ''}} {{item.important && 'recycled' || ''}}" ng-if="$index <= dirLocation">
                    <td class="item-check text-center"><input type="checkbox" ng-model="item.select" tooltip="點選觀看共同TAG" tooltip-trigger="mouseenter" tooltip-placement="right" /></td>
                    <td class="item-name" ng-click="preGetPassword('list', item)">
                        <a href="#" class="item-point">{{item.name}}</a>
                    </td>
                    <td class="item-user" ng-click="getUsername(item)">
                        <a href="#" class="item-point">{{item.username}}</a>
                    </td>
                    <td class="item-mtime">{{item.utime}}</td>
                    <td class="item-tool">
                        <button ng-click="selectItem($event, item)" type="button" class="btn btn-default" aria-expanded="false" tooltip="開啟功能列" tooltip-trigger="mouseenter" tooltip-placement="left">
                            <span class="caret"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="tag in relativeList">
                    <td class="item-check text-center">
                        <button confirmed-click="addTag(tag)" ng-confirm-click="Would you sure to add {{tag}}?" type="button" class="btn btn-default" tooltip="增加此TAG為共同TAG" tooltip-trigger="mouseenter" tooltip-placement="right">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </button>
                    </td>
                    <td class="item-name" ng-click="exactlyStorage($parent.this, tag)">
                        <a href="#" class="relative-point">
                            <i class="glyphicon glyphicon-folder-open item-icon"></i>
                            {{tag}}
                        </a>
                    </td>
                    <td class="item-user"></td>
                    <td class="item-mtime"></td>
                    <td class="item-tool">
                        <button ng-click="selectItem($event, tag)" type="button" class="btn btn-default" aria-expanded="false" tooltip="增加此TAG到預設分類裡" tooltip-trigger="mouseenter" tooltip-placement="left">
                            <span class="caret"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="tag in tagList">
                    <td class="item-check text-center">
                        <button confirmed-click="delTag(tag)" ng-confirm-click="Would you sure to DELETE this tag? You can only delete tag which you added." type="button" class="btn btn-default" tooltip="刪除此共同TAG，需持有權限" tooltip-trigger="mouseenter" tooltip-placement="right">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                        </button>
                    </td>
                    <td class="item-name" ng-click="exactlyStorage($parent.this, tag)">
                        <a href="#" class="item-point">
                            <i class="glyphicon glyphicon-folder-open item-icon"></i>
                            {{tag}}
                        </a>
                    </td>
                    <td class="item-user"></td>
                    <td class="item-mtime"></td>
                    <td class="item-tool">
                        <button ng-click="selectItem($event, tag)" type="button" class="btn btn-default" aria-expanded="false" tooltip="增加此TAG到預設分類裡" tooltip-trigger="mouseenter" tooltip-placement="left">
                            <span class="caret"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="tag in exceptList">
                    <td class="item-check text-center">
                        <button confirmed-click="addTag(tag)" ng-confirm-click="Would you sure to add {{tag}}?" type="button" class="btn btn-default" tooltip="增加此TAG為共同TAG" tooltip-trigger="mouseenter" tooltip-placement="right">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </button>
                    </td>
                    <td class="item-name" ng-click="exactlyStorage($parent.this, tag)">
                        <a href="#" class="history-point">
                            <i class="glyphicon glyphicon-folder-open item-icon"></i>
                            {{tag}}
                        </a>
                    </td>
                    <td class="item-user"></td>
                    <td class="item-mtime"></td>
                    <td class="item-tool">
                        <button ng-click="selectItem($event, tag)" type="button" class="btn btn-default" aria-expanded="false" tooltip="增加此TAG到預設分類裡" tooltip-trigger="mouseenter" tooltip-placement="left">
                            <span class="caret"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="item in itemList" class="{{item.id === latest && 'info' || ''}} {{item.important && 'recycled' || ''}}" ng-if="$index > dirLocation">
                    <td class="item-check text-center"><input type="checkbox" ng-model="item.select" tooltip="點選觀看共同TAG" tooltip-trigger="mouseenter" tooltip-placement="right" /></td>
                    <td class="item-name" ng-click="preGetPassword('list', item)">
                        <a href="#" class="item-point">{{item.name}}</a>
                    </td>
                    <td class="item-user" ng-click="getUsername(item)">
                        <a href="#" class="item-point">{{item.username}}</a>
                    </td>
                    <td class="item-mtime">{{item.utime}}</td>
                    <td class="item-tool">
                        <button ng-click="selectItem($event, item)" type="button" class="btn btn-default" aria-expanded="false" tooltip="開啟功能列" tooltip-trigger="mouseenter" tooltip-placement="left">
                            <span class="caret"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="item-check text-center"></td>
                    <td class="item-name">
                        <button ng-show="more" class="btn btn-default" type="button" ng-click="moreStorage()" ng-disabled="moreDisabled">More</button>
                    </td>
                    <td class="item-profit"></td>
                    <td class="item-tool"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
