<span id="initial" ng-init="init()"></span>
<form ng-submit="submitIndex()">
Index: <input type="text" ng-model="inputIndex" />
</form>
<section class="panel panel-default" ng-show="isParse">
    <div class="panel-heading">
        <h4 class="panel-title">asset:{{stockIndex}}</h4>
    </div>
    <div class="panel-body">
        <select ng-model="assetYear" ng-options="m.value as m.name for m in parseYear" convert-to-number>
        </select>
        <select ng-model="assetQuarter" ng-options="m.value as m.name for m in parseQuarter" convert-to-number>
        </select>
        <button ng-click="drawAsset(assetYear, assetQuarter)" type="button">Draw</button>
        <canvas id="asset" class="chart chart-pie" data="assetData" labels="assetLabels"></canvas>
    </div>
</section>
<section class="panel panel-default" ng-show="isParse">
    <div class="panel-heading">
        <h4 class="panel-title">sales:{{stockIndex}}</h4>
    </div>
    <div class="panel-body">
        <select ng-model="salesYear" ng-options="m.value as m.name for m in parseYear" convert-to-number>
        </select>
        <select ng-model="salesQuarter" ng-options="m.value as m.name for m in parseQuarter" convert-to-number>
        </select>
        <button ng-click="drawSales(salesYear, salesQuarter)" type="button">Draw</button>
        <canvas id="sales" class="chart chart-pie" data="salesData" labels="salesLabels"></canvas>
    </div>
</section>
<section class="panel panel-default" ng-show="isParse">
    <div class="panel-heading">
        <h4 class="panel-title">cash:{{stockIndex}}</h4>
    </div>
    <div class="panel-body">
        Start:<select ng-model="cashStartYear" ng-options="m.value as m.name for m in parseYear" convert-to-number>
        </select>
        <select ng-model="cashStartQuarter" ng-options="m.value as m.name for m in parseQuarter" convert-to-number>
        </select>
        End:<select ng-model="cashEndYear" ng-options="m.value as m.name for m in parseYear" convert-to-number>
        </select>
        <select ng-model="cashEndQuarter" ng-options="m.value as m.name for m in parseQuarter" convert-to-number>
        </select>
        mode:<select ng-model="cashMode" ng-options="m.value as m.name for m in parseCashMode" convert-to-number>
        </select>
        accumulate:<input type="checkbox" ng-model="accumulate" />
        <button ng-click="drawCash(cashMode, accumulate, cashStartYear, cashStartQuarter, cashEndYear, cashEndQuarter)" type="button">Draw</button>
        <canvas id="cashSum" class="chart chart-line" data="cashSumData" labels="cashSumLabels" legend="true" series="cashSumSeries" options="cashOptions"></canvas>
        <canvas id="cash" class="chart chart-line" data="cashData" labels="cashLabels" legend="true" series="cashSeries" options="cashOptions"></canvas>
    </div>
</section>