<span id="initial" ng-init="init()"></span>
<form ng-submit="submitIndex()">
Index: <input type="text" ng-model="inputIndex" />
</form>
<section class="panel panel-default" ng-show="isParse">
    <div class="panel-heading">
        <h4 class="panel-title">asset:{{stockIndex}}</h4>
    </div>
    <div class="panel-body">
        <canvas id="asset" class="chart chart-pie" data="assetData" labels="assetLabels"></canvas>
    </div>
</section>
<section class="panel panel-default" ng-show="isParse">
    <div class="panel-heading">
        <h4 class="panel-title">sales:{{stockIndex}}</h4>
    </div>
    <div class="panel-body">
        <canvas id="sales" class="chart chart-pie" data="salesData" labels="salesLabels"></canvas>
    </div>
</section>
<section class="panel panel-default" ng-show="isParse">
    <div class="panel-heading">
        <h4 class="panel-title">cash:{{stockIndex}}</h4>
    </div>
    <div class="panel-body">
        <canvas id="cash" class="chart chart-line" data="cashData" labels="cashLabels" legend="true" series="cashSeries" options="cashOptions"></canvas>
    </div>
</section>