<span id="initial" ng-init="init()"></span>
<nav class="navbar-inverse" id="inverse-navbar">
    <div class="navbar-collapse">
        <div collapse="collapse.storage">
            <ul class="nav navbar-nav side-nav" id="inverse-nav">
                <li class="{{!bookmarkCollapse && 'active' || ''}}">
                    <a href="#" aria-expanded="true" ng-click="bookmarkCollapse = !bookmarkCollapse">
                        Bookmark&nbsp;<i class="glyphicon {{bookmarkCollapse && 'glyphicon-chevron-down' || 'glyphicon-chevron-up'}}"></i>
                    </a>
                    <ul class="nav nav-pills" aria-expanded="true" collapse="bookmarkCollapse">
                        <li ng-click="changeSort('bookmarkSort', 'name')">
                            <a class="nav-pills-trim" href="#">
                                name<i ng-show="bookmarkSort.name" class="{{(bookmarkSort.name === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
                            </a>
                        </li>
                        <li ng-click="changeSort('bookmarkSort', 'mtime')">
                            <a class="nav-pills-trim" href="#">
                                mtime<i ng-show="bookmarkSort.mtime" class="{{(bookmarkSort.mtime === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
                            </a>
                        </li>
                        <li class="{{bookmarkEdit && 'active' || ''}}">
                            <a class="nav-pills-trim" ng-click="bookmarkEdit = !bookmarkEdit" href="#">edit</a>
                        </li>
                    </ul>
                    <ul aria-expanded="true" collapse="bookmarkCollapse">
                        <li ng-repeat="item in bookmarkList">
                            <a ng-hide="bookmarkEdit" ng-click="getBookmarkItem(item.id)" href="#">{{item.name}}</a>
                            <a ng-show="bookmarkEdit" confirmed-click="delBookmark(item.id)" ng-confirm-click="Would you sure to delete this bookmark?" href="#">
                                <i class="glyphicon glyphicon-remove"></i>{{item.name}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-repeat="dir in dirList" class="{{!dir.collapse && 'active' || ''}}">
                    <a href="#" aria-expanded="true" ng-click="showTaglist(dir)">
                        {{dir.show}}&nbsp;<i class="glyphicon {{dir.collapse && 'glyphicon-chevron-down' || 'glyphicon-chevron-up'}}"></i>
                    </a>
                    <ul class="nav nav-pills" aria-expanded="true" collapse="dir.collapse">
                        <li ng-click="changeDirSort(dir, 'name')">
                            <a class="nav-pills-trim" href="#">
                                name<i ng-show="dir.sortName" class="{{(dir.sortName === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
                            </a>
                        </li>
                        <li ng-click="changeDirSort(dir, 'mtime')">
                            <a class="nav-pills-trim" href="#">
                                qtime<i ng-show="dir.sortMtime" class="{{(dir.sortMtime === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
                            </a>
                        </li>
                        <li ng-show="dirEdit" class="{{dir.edit && 'active' || ''}}">
                            <a class="nav-pills-trim" ng-click="dir.edit = !dir.edit" href="#">edit</a>
                        </li>
                    </ul>
                    <ul aria-expanded="true" collapse="dir.collapse">
                        <li ng-repeat="item in dir.list">
                            <a ng-hide="dir.edit" ng-click="dirItemlist(item.id)" href="#">{{item.name}}</a>
                            <a ng-show="dir.edit" confirmed-click="del2Parent(item.id, dir)" ng-confirm-click="Would you sure to delete this tag?" href="#">
                                <i class="glyphicon glyphicon-remove"></i>{{item.name}}
                            </a>
                        </li>
                        <li ng-show="dir.more">
                            <a>
                                <button class="btn btn-default btn-xs" type="button" ng-click="moreDirtaglist(dir)" ng-disabled="dir.moreDisabled">More</button>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="top-section">
    <form ng-submit="submitText()">
        <div class="input-group">
            <span class="input-group-btn" tooltip="嚴格比對"  tooltip-trigger="mouseenter" tooltip-placement="right">
                <button class="btn {{!exactlyMatch && 'active btn-primary' || 'btn-default'}}" ng-click="exactlyMatch = !exactlyMatch" type="button">
                    <i class="glyphicon {{!exactlyMatch && 'glyphicon-eye-close' || 'glyphicon-eye-open'}}"></i>
                </button>
            </span>
            <input type="text" class="form-control" ng-model="inputText" placeholder="Search Tag" blur-me="searchBlur" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" tooltip="搜尋檔案" tooltip-trigger="mouseenter" tooltip-placement="left">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>
    <form ng-submit="addBookmark()" id="new-bookmark" ng-show="bookmarkNew">
        <div class="input-group" >
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="bookmarkNew = false" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </span>
            <input type="text" class="form-control" ng-model="bookmarkName" placeholder="New Bookmark" focus-me="bookmarkNewFocus" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
    </form>
    <form ng-submit="fileEdit()" id="edit-itemName" ng-show="itemNameNew">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-info" ng-click="itemNameNew = false" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </span>
            <input type="text" class="form-control" ng-model="newItemName" placeholder="New Name" focus-me="itemNameNewFocus" />
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </span>
        </div>
    </form>
    <form ng-submit="submitTag()" id="add-tag" ng-show="tagNew">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-danger" ng-click="tagNew = false" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </span>
            <input type="text" class="form-control" ng-model="newTagName" placeholder="New Tag" focus-me="tagNewFocus" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="submit">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </span>
        </div>
    </form>
    <div class="input-group double-input" ng-show="uploadSub" id="upload-sub">
        <span class="input-group-btn">
            <button class="btn btn-warning" ng-click="uploadSub = false" type="button">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </span>
        <span class="form-control" class="progress">
            {{ miscUploader && miscUploader.progress || 0 }}% Complete
        </span>
        <select class="form-control" ng-model="subLang">
            <option value="ch">中文</option>
            <option value="en">English</option>
        </select>
        <span class="input-group-btn">
            <div class="btn btn-warning btn-file">
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;Choose<input type="file" nv-file-select uploader="miscUploader" />
            </div>
        </span>
    </div>
    <form ng-submit="submitSubtitle()" ng-show="searchSub" id="search-sub">
        <div class="input-group double-input">
            <span class="input-group-btn">
                <button class="btn btn-warning" ng-click="searchSub = false" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </span>
            <input type="text" class="form-control" ng-model="subName" placeholder="Search Name or IMDBID: tt1638355" focus-me="subNameFocus" ng-enter="episodeFocus = true" />
            <input type="text" class="form-control" ng-model="subEpisode" placeholder="Episode: S01E01" focus-me="episodeFocus" ng-enter="submitSubtitle()" />
            <span class="input-group-btn">
                <button class="btn btn-warning" type="submit" ng-disabled="searchSubing">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </span>
        </div>
    </form>
    <ol class="breadcrumb" id="breadcrumb-section">
        <li>
            <input type="checkbox" ng-model="multiSearch" tooltip="多重搜尋" tooltip-trigger="mouseenter" tooltip-placement="bottom" />
        </li>
        <li ng-click="resetStorage()">
            <a tooltip="清空搜尋"  tooltip-trigger="mouseenter" href="#">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li ng-repeat="item in parentList" ng-click="gotoStorage($parent.this, item, $index)">
            <a href="#">
                <i ng-hide="exactlyList[$index]" class="glyphicon glyphicon-eye-close"></i>
                <i ng-show="exactlyList[$index]" class="glyphicon glyphicon-eye-open"></i>&nbsp;{{item}}
            </a>
        </li>
        <li class="active" ng-repeat="item in historyList" ng-click="gotoStorage($parent.this, item, $index+parentList.length)">
            <a href="#" class="history-point">
                <i ng-hide="exactlyList[$index+parentList.length]" class="glyphicon glyphicon-eye-close"></i>
                <i ng-show="exactlyList[$index+parentList.length]" class="glyphicon glyphicon-eye-open"></i>&nbsp;{{item}}
            </a>
        </li>
        <li ng-show="parentList.length > 0" class="dropdown" dropdown="">
            <span class="dropdown-toggle" dropdown-toggle="" tooltip="儲存到我的最愛" tooltip-trigger="mouseenter" tooltip-placement="bottom">
                <a href="#" class="item-point"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;SAVE</a>
            </span>
            <ul class="dropdown-menu" id="bookmark-list">
                <li>
                    <a ng-click="bookmarkNew = true; bookmarkNewFocus = true" href="#">new...</a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="item in bookmarkList">
                    <a ng-click="addBookmark(item.name)" href="#">{{item.name}}</a>
                </li>
            </ul>
        </li>
    </ol>
    <ul class="nav nav-pills" id="item-head" aria-expanded="true">
        <li tooltip="全選 / 取消，點選下方的checkbox可以觀看共同TAG" tooltip-trigger="mouseenter" tooltip-placement="right" class="text-right item-check-head {{!selectList.length && 'active' || ''}}">
            <a ng-click="cancelSelect()" href="#">
                <i class="glyphicon {{selectList.length && 'glyphicon-remove-sign' || 'glyphicon-ok'}}"></i>
            </a>
        <li>
        <li>
            <a href="#" ng-click="changeSort('fileSort', 'name')">
                name
                <i ng-show="fileSort.name" class="{{(fileSort.name === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
            </a>
        </li>
        <li class="pull-right item-tool {{!selectList.length && 'active' || ''}}" tooltip="{{selectList.length && '編輯共同TAG' || '設定，點選下方的expand可以開啟功能列'}}" tooltip-trigger="mouseenter" tooltip-placement="left">
            <a ng-click="openNewTag()" href="#">
                <i class="glyphicon {{selectList.length && 'glyphicon-plus' || 'glyphicon-cog'}}"></i>
            </a>
        <li>
        <li class="pull-right item-count">
            <a href="#" ng-click="changeSort('fileSort', 'count')">
                count
                <i ng-show="fileSort.count" class="{{(fileSort.count === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
            </a>
        </li>
        <li class="pull-right item-mtime">
            <a href="#" ng-click="changeSort('fileSort', 'mtime')">
                time
                <i ng-show="fileSort.mtime" class="{{(fileSort.mtime === 'desc') && 'fa fa-fw fa-caret-down' || 'fa fa-fw fa-caret-up'}}"></i>
            </a>
        </li>
    </ul>
    <div class="dropdown" dropdown="" is-open="dropdown.item">
        <ul class="dropdown-menu" id="tool-list">
            <li ng-show="toolList.download">
                <a confirmed-click="downloadFile()" ng-confirm-click="Would you sure to download this file?" href="#">download</a>
            </li>
            <li ng-show="toolList.allDownload">
                <a confirmed-click="downloadAll()" ng-confirm-click="Would you sure to save all of this playlist?" href="#">儲存playlist</a>
            </li>
            <li ng-show="toolList.save2drive">
                <a confirmed-click="save2drive()" ng-confirm-click="Would you sure to download this file to drive?" href="#">download to drive</a>
            </li>
            <li ng-show="toolList.edit">
                <a ng-click="itemNameNew = true; itemNameNewFocus = true;newItemName = toolList.item.name;" href="#">edit</a>
            </li>
            <li ng-show="toolList.upload">
                <a confirmed-click="uploadSub = true;toolSub = true;torrentSub = false;videoSub = false;" ng-confirm-click="只保留上一個版本的字幕" href="#">upload subtitle</a>
            </li>
            <li ng-show="toolList.searchSub">
                <a confirmed-click="searchSub = true;toolSearchSub = true;subNameFocus = true;subName = '';subEpisode = '';videoSearchSub = true;torrentSearchSub = false;" ng-confirm-click="只保留上一個版本的字幕" href="#">search subtitle</a>
            </li>
            <li ng-show="toolList.recover">
                <a confirmed-click="fileRecover()" ng-confirm-click="Would you sure to recover this file?" href="#">recover</a>
            </li>
            <li ng-show="toolList.del">
                <a confirmed-click="fileDel()" ng-confirm-click="Would you sure to delete this file?" href="#">delete</a>
            </li>
            <li ng-show="toolList.convert">
                <a confirmed-click="fileConvert()" ng-confirm-click="Would you sure to convert this zip to image book?" href="#">convert</a>
            </li>
            <li ng-show="toolList.join">
                <a confirmed-click="fileJoin()" ng-confirm-click="Would you sure to join the split zips?" href="#">join</a>
            </li>
            <li ng-show="toolList.delMedia">
                <a confirmed-click="handleMedia('del')" ng-confirm-click="Would you sure to delete this Media?" href="#">delete media</a>
            </li>
            <li ng-show="toolList.dir" ng-repeat="item in dirList">
                <a confirmed-click="add2Parent(item)" ng-confirm-click="Would you sure to add" ng-sub-msg="to {{item.show}}?" href="#">{{item.show}}</a>
            </li>
            <li ng-show="toolList.save2local">
                <a confirmed-click="save2local()" ng-confirm-click="確定要儲存到網站?" href="#">儲存到local</a>
            </li>
            <li ng-show="toolList.subscription">
                <a ng-click="subscription()" href="#">訂閱{{toolList.title}}</a>
            </li>
        </ul>
    </div>
</section>
<section id="item-section">
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr ng-repeat="item in itemList" class="{{item.id === latest && 'info' || ''}} {{(item.recycle === 1 || item.recycle === 2 || item.recycle === 3) && 'recycling' || ''}} {{item.recycle === 4 && 'recycled' || ''}} {{item.noDb && 'outside' || ''}} {{item.thumb && 'external' || ''}}" ng-if="$index <= dirLocation">
                    <td class="item-check text-center"><input type="checkbox" ng-model="item.select" tooltip="點選觀看共同TAG" tooltip-trigger="mouseenter" tooltip-placement="right" /></td>
                    <td class="item-name" ng-if="item.media" confirmed-click="handleMedia('act', item)" ng-confirm-click="Would you sure to handle this media?">
                        {{item.name}}<br />type: {{item.media.type}}<br />key: {{item.media.key}}<br />err: {{item.media.err}} {{item.media.timeout}}
                    </td>
                    <td class="item-name" ng-if="item.status < 2 && !item.media" confirmed-click="downloadFile(item.id)" ng-confirm-click="Would you sure to download this file?">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-question-sign item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 2 && !item.media" ng-click="showMedia(item, 'image')">
                        <a href="#" class="item-point">
                            <span class="preload-img">
                                <i class="glyphicon glyphicon-picture item-icon"></i>
                                <img ng-src="{{(item.thumb && item.thumb || (main_url + '/preview/' + item.id | trusted))}}" alt="{{item.name}}" class="item-image" />
                            </span>
                            {{item.name}}
                        </a>
                    </td>
                    <td class="item-name" ng-if="item.status === 3 && !item.media" ng-click="showMedia(item, 'video')">
                        <a href="#" class="item-point">
                            <span class="preload-img">
                                <i class="glyphicon glyphicon-facetime-video item-icon"></i>
                                <img ng-src="{{(item.thumb && item.thumb || (main_url + '/preview/' + item.id)) | trusted}}" alt="{{item.name}}" class="item-image" />
                            </span>
                            {{item.name}}
                        </a>
                    </td>
                    <td class="item-name" ng-if="item.status === 4 && !item.media" ng-click="showMedia(item, 'music')">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-headphones item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 5 && !item.media" ng-click="showMedia(item, 'doc')">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-file item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 6 && !item.media" ng-click="showMedia(item, 'present')">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-list-alt item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 7 && !item.media" ng-click="showUrl(item)">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-bookmark item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 8 && !item.media" ng-click="setBookmark(item)">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-tags item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 9 && !item.media" ng-click="showTorrent(item)">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-th-list item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-mtime">{{item.utime}}</td>
                    <td class="item-count">{{item.count}}</td>
                    <td class="item-tool">
                        <button ng-click="selectItem($event, item)" type="button" class="btn btn-default" aria-expanded="false" tooltip="開啟功能列" tooltip-trigger="mouseenter" tooltip-placement="left">
                            <span class="caret"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="tag in relativeList">
                    <td class="item-check text-center">
                        <button confirmed-click="addTag(tag)" ng-confirm-click="Would you sure to add {{tag}}?" type="button" class="btn btn-default" tooltip="增加此TAG為共同TAG" tooltip-trigger="mouseenter" tooltip-placement="right">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </button>
                    </td>
                    <td class="item-name" ng-click="exactlyStorage($parent.this, tag)">
                        <a href="#" class="relative-point">
                            <i class="glyphicon glyphicon-folder-open item-icon"></i>
                            {{tag}}
                        </a>
                    </td>
                    <td class="item-mtime"></td>
                    <td class="item-count"></td>
                    <td class="item-tool">
                        <button ng-click="selectItem($event, tag)" type="button" class="btn btn-default" aria-expanded="false" tooltip="增加此TAG到預設分類裡" tooltip-trigger="mouseenter" tooltip-placement="left">
                            <span class="caret"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="tag in tagList">
                    <td class="item-check text-center" >
                        <button confirmed-click="delTag(tag)" ng-confirm-click="Would you sure to DELETE this tag? You can only delete tag which you added." type="button" class="btn btn-default" tooltip="刪除此共同TAG，需持有權限" tooltip-trigger="mouseenter" tooltip-placement="right">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                        </button>
                    </td>
                    <td class="item-name" ng-click="exactlyStorage($parent.this, tag)">
                        <a href="#" class="item-point">
                            <i class="glyphicon glyphicon-folder-open item-icon"></i>
                            {{tag}}
                        </a>
                    </td>
                    <td class="item-mtime"></td>
                    <td class="item-count"></td>
                    <td class="item-tool">
                        <button ng-click="selectItem($event, tag)" type="button" class="btn btn-default" aria-expanded="false" tooltip="增加此TAG到預設分類裡" tooltip-trigger="mouseenter" tooltip-placement="left">
                            <span class="caret"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="tag in exceptList">
                    <td class="item-check text-center">
                        <button confirmed-click="addTag(tag)" ng-confirm-click="Would you sure to add {{tag}}?" type="button" class="btn btn-default" tooltip="增加此TAG為共同TAG" tooltip-trigger="mouseenter" tooltip-placement="right">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </button>
                    </td>
                    <td class="item-name" ng-click="exactlyStorage($parent.this, tag)">
                        <a href="#" class="history-point">
                            <i class="glyphicon glyphicon-folder-open item-icon"></i>
                            {{tag}}
                        </a>
                    </td>
                    <td class="item-mtime"></td>
                    <td class="item-count"></td>
                    <td class="item-tool">
                        <button ng-click="selectItem($event, tag)" type="button" class="btn btn-default" aria-expanded="false" tooltip="增加此TAG到預設分類裡" tooltip-trigger="mouseenter" tooltip-placement="left">
                            <span class="caret"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="item in itemList" class="{{item.id === latest && 'info' || ''}} {{(item.recycle === 1 || item.recycle === 2 || item.recycle === 3) && 'recycling' || ''}} {{item.recycle === 4 && 'recycled' || ''}} {{item.noDb && 'outside' || ''}} {{item.thumb && 'external' || ''}}" ng-if="$index > dirLocation">
                    <td class="item-check text-center"><input type="checkbox" ng-model="item.select" tooltip="點選觀看共同TAG" tooltip-trigger="mouseenter" tooltip-placement="right" /></td>
                    <td class="item-name" ng-if="item.media" confirmed-click="handleMedia('act', item)" ng-confirm-click="Would you sure to handle this media?">
                        {{item.name}}<br />type: {{item.media.type}}<br />key: {{item.media.key}}<br />err: {{item.media.err}} {{item.media.timeout}}
                    </td>
                    <td class="item-name" ng-if="item.status < 2 && !item.media" confirmed-click="downloadFile(item.id)" ng-confirm-click="Would you sure to download this file?">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-question-sign item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 2 && !item.media" ng-click="showMedia(item, 'image')">
                        <a href="#" class="item-point">
                            <span class="preload-img">
                                <i class="glyphicon glyphicon-picture item-icon"></i>
                                <img ng-src="{{(item.thumb && item.thumb || (main_url + '/preview/' + item.id | trusted))}}" alt="{{item.name}}" class="item-image" />
                            </span>
                            {{item.name}}
                        </a>
                    </td>
                    <td class="item-name" ng-if="item.status === 3 && !item.media" ng-click="showMedia(item, 'video')">
                        <a href="#" class="item-point">
                            <span class="preload-img">
                                <i class="glyphicon glyphicon-facetime-video item-icon"></i>
                                <img ng-src="{{(item.thumb && item.thumb || (main_url + '/preview/' + item.id))}}" alt="{{item.name}}" class="item-image" />
                            </span>
                            {{item.name}}
                        </a>
                    </td>
                    <td class="item-name" ng-if="item.status === 4 && !item.media" ng-click="showMedia(item, 'music')">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-headphones item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 5 && !item.media" ng-click="showMedia(item, 'doc')">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-file item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 6 && !item.media" ng-click="showMedia(item, 'present')">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-list-alt item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 7 && !item.media" ng-click="showUrl(item)">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-bookmark item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 8 && !item.media" ng-click="setBookmark(item)">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-tags item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-name" ng-if="item.status === 9 && !item.media" ng-click="showTorrent(item)">
                        <a href="#" class="item-point"><i class="glyphicon glyphicon-th-list item-icon"></i>{{item.name}}</a>
                    </td>
                    <td class="item-mtime">{{item.utime}}</td>
                    <td class="item-count">{{item.count}}</td>
                    <td class="item-tool">
                        <button ng-click="selectItem($event, item)" type="button" class="btn btn-default" aria-expanded="false" tooltip="開啟功能列" tooltip-trigger="mouseenter" tooltip-placement="left">
                            <span class="caret"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="item-check text-center"></td>
                    <td class="item-name">
                        <button ng-show="more" class="btn btn-default" type="button" ng-click="moreStorage()" ng-disabled="moreDisabled">More</button>
                    </td>
                    <td class="item-mtime"></td>
                    <td class="item-tool"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>