<span id="initial" ng-init="init()"></span>
<div class="container" id="user-section">
    <div class="well col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row user-infos user3">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1" ng-repeat="user in uInfo | filter:{newable: true}:true">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">User profile</h3>
                    </div>
                    <form ng-submit="addUser(user)">
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </button>
                                </span>
                                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" focus-me="user.passwordFocus" ng-enter="addUser(user)" />
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                    <img class="img-circle" src="user-photo-big.png" alt="User Pic" />
                                </div>
                                <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                    <img class="img-circle" src="user-photo.png" alt="User Pic" />
                                </div>
                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                    <strong>
                                        <input class="form-control" type="text" value="{{user.name}}" focus-me="user.nameFocus" ng-model="user.name" ng-enter="user.permFocus = true" placeholder="Username" />
                                    </strong>
                                    <br>
                                    <dl>
                                        <dt>User level:</dt>
                                        <dd>
                                            <input type="text" class="form-control" value="{{user.perm}}" ng-model="user.perm" focus-me="user.permFocus" ng-enter="user.descFocus = true" placeholder="Level" />
                                        </dd>
                                        <dt>Description:</dt>
                                        <dd>
                                            <input type="text" class="form-control" value="{{user.desc}}" ng-model="user.desc" focus-me="user.descFocus" ng-enter="user.newPwdFocus = true" placeholder="Description" />
                                        </dd>
                                        <dt>New Password:</dt>
                                        <dd>
                                            <input type="password" class="form-control" ng-model="user.newPwd" focus-me="user.newPwdFocus" placeholder="6~20個英數、!、@、#、$、%" ng-enter="user.conPwdFocus = true" />
                                        </dd>
                                        <dt>Confirm Password:</dt>
                                        <dd>
                                            <input type="password" class="form-control" ng-model="user.conPwd" focus-me="user.conPwdFocus" placeholder="Confirm Password" ng-enter="user.passwordFocus = true" />
                                        </dd>
                                    </dl>
                                </div>
                                <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                    <strong>
                                        <input class="form-control" type="text" value="{{user.name}}" focus-me="user.nameFocus" ng-model="user.name" placeholder="Username" ng-enter="user.permFocus = true" />
                                    </strong>
                                    <br>
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>User level:</td>
                                            <td>
                                                <input type="text" class="form-control" value="{{user.perm}}" ng-model="user.perm" placeholder="Level" focus-me="user.permFocus" ng-enter="user.descFocus = true" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Description:</td>
                                            <td>
                                                <input type="text" class="form-control" value="{{user.desc}}" placeholder="Description" ng-model="user.desc" focus-me="user.descFocus" ng-enter="user.newPwdFocus = true" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>New Password:</td>
                                            <td>
                                                <input class="form-control" type="password" ng-model="user.newPwd" name="passwd" placeholder="6~20個英數、!、@、#、$、%" focus-me="user.newPwdFocus" ng-enter="user.conPwdFocus = true" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Confirm Password:</td>
                                            <td>
                                                <input class="form-control" focus-me="user.conPwdFocus" ng-model="user.conPwd" type="password" name="passwd" placeholder="Confirm Password" ng-enter="user.passwordFocus = true" />
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row user-infos">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1" ng-repeat="user in uInfo | filter:{isDel:false, newable: false}:true">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">User profile</h3>
                    </div>
                    <form ng-submit="saveAll(user)">
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </button>
                                </span>
                                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" focus-me="user.passwordFocus" ng-enter="saveAll(user)" />
                                <span class="input-group-btn" ng-click="editAll(user)">
                                    <button class="btn btn-warning" type="button">
                                        <i class="glyphicon {{user.edit && 'glyphicon-check' || 'glyphicon-edit'}}"></i>
                                    </button>
                                </span>
                                <span ng-show="user.delable" confirmed-click="delUser(user)" ng-confirm-click="Would you sure to delete this user?" class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                    <img class="img-circle" src="user-photo-big.png" alt="User Pic" />
                                </div>
                                <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                    <img class="img-circle" src="user-photo.png" alt="User Pic" />
                                </div>
                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                    <span ng-hide="user.edit">
                                        <strong>{{user.name}}</strong>
                                        <br>
                                    </span>
                                    <span ng-show="user.edit">
                                        <strong>
                                            <input class="form-control" type="text" value="{{user.name}}" focus-me="user.nameFocus" ng-model="user.name" ng-enter="user.autoFocus = true" />
                                        </strong>
                                        <br>
                                    </span>
                                    <dl>
                                        <section>
                                            <dt>Auto upload:</dt>
                                            <dd ng-hide="user.edit">{{user.auto}}</dd>
                                            <dd ng-show="user.edit && user.editAuto">
                                                <input type="text" class="form-control" value="{{user.auto}}" ng-model="user.auto" focus-me="user.autoFocus" ng-enter="user.hasPerm && (user.permFocus = true) || (user.newPwdFocus = true)" />
                                            </dd>
                                        </section>
                                        <section ng-if="user.hasPerm">
                                            <dt>User level:</dt>
                                            <dd ng-hide="user.edit">{{user.perm}}</dd>
                                            <dd ng-show="user.edit">
                                                <input type="text" class="form-control" value="{{user.perm}}" ng-model="user.perm" focus-me="user.permFocus" ng-enter="user.descFocus = true" />
                                            </dd>
                                        </section>
                                        <section ng-if="user.hasDesc">
                                            <dt>Description:</dt>
                                            <dd ng-hide="user.edit">{{user.desc}}</dd>
                                            <dd ng-show="user.edit">
                                                <input type="text" class="form-control" value="{{user.desc}}" ng-model="user.desc" focus-me="user.descFocus" ng-enter="user.hasUnDay && (user.unDayFocus = true) || (user.newPwdFocus = true)" />
                                            </dd>
                                        </section>
                                        <section ng-if="user.hasUnDay">
                                            <dt>Unactive Day:</dt>
                                            <dd ng-hide="user.edit">{{user.unDay}}</dd>
                                            <dd ng-show="user.edit">
                                                <input type="text" class="form-control" value="{{user.unDay}}" ng-model="user.unDay" focus-me="user.unDayFocus" ng-enter="user.unHitFocus = true" />
                                            </dd>
                                        </section>
                                        <section ng-if="user.hasUnHit">
                                            <dt>Unactive Hit:</dt>
                                            <dd ng-hide="user.edit">{{user.unHit}}</dd>
                                            <dd ng-show="user.edit">
                                                <input type="text" class="form-control" value="{{user.unHit}}" ng-model="user.unHit" focus-me="user.unHitFocus" ng-enter="user.newPwdFocus = true" />
                                            </dd>
                                        </section>
                                        <dt>New Password:</dt>
                                        <dd>
                                            <input type="password" class="form-control" ng-model="user.newPwd" focus-me="user.newPwdFocus" placeholder="6~20個英數、!、@、#、$、%" ng-enter="user.conPwdFocus = true" />
                                        </dd>
                                        <dt>Confirm Password:</dt>
                                        <dd>
                                            <input type="password" class="form-control" ng-model="user.conPwd" focus-me="user.conPwdFocus" placeholder="Confirm Password" ng-enter="user.passwordFocus = true" />
                                        </dd>
                                    </dl>
                                </div>
                                <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                    <span ng-hide="user.edit">
                                        <strong>{{user.name}}</strong>
                                        <br>
                                    </span>
                                    <span ng-show="user.edit">
                                        <strong>
                                            <input class="form-control" type="text" value="{{user.name}}" focus-me="user.nameFocus" ng-model="user.name" ng-enter="user.autoFocus = true" />
                                        </strong>
                                        <br>
                                    </span>
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>Auto upload:</td>
                                            <td ng-hide="user.edit">{{user.auto}}</td>
                                            <td ng-show="user.edit && user.editAuto">
                                                <input type="text" class="form-control" value="{{user.auto}}" ng-model="user.auto" focus-me="user.autoFocus" ng-enter="user.hasPerm && (user.permFocus = true) || (user.newPwdFocus = true)" />
                                            </td>
                                        </tr>
                                        <tr ng-if="user.hasPerm">
                                            <td>User level:</td>
                                            <td ng-hide="user.edit">{{user.perm}}</td>
                                            <td ng-show="user.edit">
                                                <input type="text" class="form-control" value="{{user.perm}}" ng-model="user.perm" focus-me="user.permFocus" ng-enter="user.descFocus = true" />
                                            </td>
                                        </tr>
                                        <tr ng-if="user.hasDesc">
                                            <td>Description:</td>
                                            <td ng-hide="user.edit">{{user.desc}}</td>
                                            <td ng-show="user.edit">
                                                <input type="text" class="form-control" value="{{user.desc}}" ng-model="user.desc" focus-me="user.descFocus" ng-enter="user.hasUnDay && (user.unDayFocus = true) || (user.newPwdFocus = true)" />
                                            </td>
                                        </tr>
                                        <tr ng-if="user.hasUnDay">
                                            <td>Unactive Day:</td>
                                            <td ng-hide="user.edit">{{user.unDay}}</td>
                                            <td ng-show="user.edit">
                                                <input type="text" class="form-control" value="{{user.unDay}}" ng-model="user.unDay" focus-me="user.unDayFocus" ng-enter="user.unHitFocus = true" />
                                            </td>
                                        </tr>
                                        <tr ng-if="user.hasUnHit">
                                            <td>Unactive Hit:</td>
                                            <td ng-hide="user.edit">{{user.unHit}}</td>
                                            <td ng-show="user.edit">
                                                <input type="text" class="form-control" value="{{user.unHit}}" ng-model="user.unHit" focus-me="user.unHitFocus" ng-enter="user.newPwdFocus = true" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>New Password:</td>
                                            <td>
                                                <input class="form-control" type="password" ng-model="user.newPwd" name="passwd" focus-me="user.newPwdFocus" placeholder="6~20個英數、!、@、#、$、%" ng-enter="user.conPwdFocus = true" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Confirm Password:</td>
                                            <td>
                                                <input class="form-control" type="password" ng-model="user.conPwd" focus-me="user.conPwdFocus" name="passwd" placeholder="Confirm Password" ng-enter="user.passwordFocus = true" />
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
